<html>

<head>
	<link href="/webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet" />
	<script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
	<meta charset="ISO-8859-1">
	<title>Card</title>
</head>

<body>
	<table class="table table-stripped">
		<thead>
			<tr>
				<td>Username</td>
				<td>Card Number</td>
				<td>Balance</td>
				<td>CVV</td>
				<td>Expiry</td>
			</tr>
			</thead>
			<tr th:each="card:${card}">
				<td th:text="${userName}">destination</td>
				<td th:text="${card.cardNumber}">Id</td>
				<td th:text="${card.balance}">origin</td>
				<td th:text="${card.cvv}">originCode</td>
				<td th:text="${card.expiry}">destination</td>
			</tr>
	</table>
	<br>
	<a th:href="@{|/vcs/redirectToWelcome?userName=${userName}|}">Go To Home Page</a>
</body>

</html>